Repository ter2yz/demo-json-differ, changes with the labels that .github/labeler.yml gives for each.
All labels: online-demo, backend, vue-frontend

feat: setup types and diffs util fns
  json-differ-frontend/.gitignore
  json-differ-frontend/src/components/DiffViewer.vue
  json-differ-frontend/src/components/icons/LoadingIcon.vue
  json-differ-frontend/src/types/index.ts
  json-differ-frontend/src/utils/diff.ts
Labels: vue-frontend

feat: update homepage on frontend
  json-differ-frontend/.gitignore
  json-differ-frontend/README.md
  json-differ-frontend/src/App.vue
  json-differ-frontend/src/components/HelloWorld.vue
  json-differ-frontend/src/config/constants.ts
  json-differ-frontend/src/lib/utils.ts
  json-differ-frontend/src/utils/cn.ts
  json-differ-frontend/src/utils/validation.ts
  json-differ-frontend/src/vite-env.d.ts
Labels: vue-frontend

refactor: add api client services
  json-differ-frontend/src/App.vue
  json-differ-frontend/src/components/DiffViewer.vue
  json-differ-frontend/src/services/api.ts
  json-differ-frontend/src/types/index.ts
Labels: vue-frontend

chore: setup netlify config for monorepo deploy
  json-differ-online-demo/netlify.toml
  package.json
Labels: online-demo

chore: modify netlify config deploy
  json-differ-online-demo/netlify.toml
Labels: online-demo

chore: update online demo package
  json-differ-online-demo/netlify.toml
  json-differ-online-demo/package.json
Labels: online-demo

chore: add netlify plugin
  json-differ-online-demo/netlify.toml
Labels: online-demo

chore: add back turbopack in buildtime
  json-differ-online-demo/package.json
Labels: online-demo

chore: update netlify toml
  json-differ-online-demo/netlify.toml
Labels: online-demo

chore: update netlify
  json-differ-online-demo/netlify.toml
Labels: online-demo

chore: remove turbopack on build time
  json-differ-online-demo/package.json
Labels: online-demo

chore: remove base
  json-differ-online-demo/netlify.toml
Labels: online-demo

chore: update base
  json-differ-online-demo/netlify.toml
Labels: online-demo

chore: update netlify
  json-differ-online-demo/netlify.toml
Labels: online-demo

chore: replace json-differ-online-demo with submodule
  .gitmodules
  json-differ-online-demo/.gitignore
  json-differ-online-demo/.prettierrc
  json-differ-online-demo/README.md
  json-differ-online-demo/app/api/compare-custom/route.ts
  json-differ-online-demo/app/api/compare/route.ts
  json-differ-online-demo/app/api/payload/route.ts
  json-differ-online-demo/app/favicon.ico
  json-differ-online-demo/app/globals.css
  json-differ-online-demo/app/layout.tsx
  json-differ-online-demo/app/page.tsx
  json-differ-online-demo/biome.json
  json-differ-online-demo/components/DiffViewer/DiffViewer.tsx
  json-differ-online-demo/components/DiffViewer/index.ts
  json-differ-online-demo/components/DiffViewer/types.ts
  json-differ-online-demo/components/Icons/Loading.tsx
  json-differ-online-demo/components/Icons/index.ts
  json-differ-online-demo/fixtures/diff-data.ts
  json-differ-online-demo/fixtures/payload1.ts
  json-differ-online-demo/fixtures/payload2.ts
  json-differ-online-demo/lib/store.ts
  json-differ-online-demo/lib/types.ts
  json-differ-online-demo/lib/utils.ts
  json-differ-online-demo/netlify.toml
  json-differ-online-demo/next.config.ts
  json-differ-online-demo/package-lock.json
  json-differ-online-demo/package.json
  json-differ-online-demo/postcss.config.mjs
  json-differ-online-demo/public/file.svg
  json-differ-online-demo/public/globe.svg
  json-differ-online-demo/public/next.svg
  json-differ-online-demo/public/vercel.svg
  json-differ-online-demo/public/window.svg
  json-differ-online-demo/tsconfig.json
Labels: online-demo

chore: update readme file
  README.md
Labels: none

chore: add support for live demo part of doc
  README.md
Labels: none

.github/labeler.yml:

online-demo:
    - changed-files:
          - any-glob-to-any-file: "json-differ-online-demo/**"
backend:
    - changed-files:
          - any-glob-to-any-file: "json-differ-backend/**"
vue-frontend:
    - changed-files:
          - any-glob-to-any-file: "json-differ-frontend/**"
